.button {
	height: 40px;
	width: 100px;
	border-radius: 25px; //make the corners rounded
	cursor: pointer; //indicate we can click on it
	overflow: hidden;
	position: absolute; //make the children elements position relative to this element
	top: 0;
	right: 0;

	.slider {
		position: relative;
		height: 100%; //take full height of the button
		width: 100%; //take the full width of the button
		
		.el {
			height: 100%; //take full width of the button
			width: 100%;
			letter-spacing: 0.02em;
			background-color: hsl(79, 75%, 58%);
			text-transform: uppercase;
			font-size: 13px;
			padding: 14px 24px;
			
			&:nth-of-type(2) { //select the second type
				position: absolute;
				top: 100%;
				background-color: black;
				color: hsl(79, 75%, 58%);
			}

			&:hover {
				.perspectiveText {
					transform: rotateX(90deg);
					p{
						&:nth-of-type(1) {
							transform: translateY(-100%);
							opacity: 0;
						}
						&:nth-of-type(2) {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.perspectiveText {
	height: 100%; //take full width of the button
	width: 100%;
	display: flex; //make the children elements align horizontally
	align-items: center;
	justify-content: center;
	transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
	transform-style: preserve-3d;

	p{
		transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
		&:nth-of-type(2) {
			position: absolute;
			transform: rotateX(-90deg);
			transform-origin: bottom-center;
			opacity: 0;
		}
	}
}