.loader {
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  
	height: 100%;
	width: 100%;
  
	display: flex;
	justify-content: center; //aligns everything in the center
	align-items: center; //align-items center
	flex-direction: column; //this to make everything put in a column
	background-color: white;
	overflow: hidden;
	z-index: 2;
  
	&__wrapper {
	  position: relative;
	  height: 100%;
	  width: 100%;
	  position: fixed;
	  inset: 0;
	  overflow: hidden;
	}
  
	&__words {
	  position: relative;
	  overflow: hidden; //anything outside out of the view is not put
	  height: 418px; //this is the height of the loader
	}
  
	&__overlay {
	  position: absolute;
	  inset: 0;
	  height: 100%; //it is the height of the whole element. 
	  z-index: 2; //put the overlay above the words
	  background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.9),
		rgba(255, 255, 255, 0.9) 47%,
		transparent,
		transparent 47%,
		transparent,
		transparent 55%,
		rgba(255, 255, 255, 0.9) 50%,
		rgba(255, 255, 255, 0.9)
	  );
	}
  
	&__word {
	  display: block;
	  font-size: 32px;
	  text-transform: uppercase;
	}
  
	&__progressWrapper {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  height: 5vh;
	  width: 100%;
	  z-index: 3;
	}

	&__progress {
	  height: 100%;
	  width: 100%;
	  background-color: black;
	  transform: scaleX(0);
	  transform-origin: left center;
	}
  
	&__progressNumber {
	  position: absolute;
	  left: -60px; //this is to move the number to the left
	  top: 50%;
	  transform: translateY(-50%);
	  z-index: 4; //this is to set it above the all elements
	  white-space: nowrap;
	  color: white;
	  font-size: 32px;
	}
  }
  